#explore-label-nav{
	position: relative;
	height: 250px;
	width: 100%;
	background-color: #EDE8E0;
}

#explore-sections-text{
	position: absolute;
	width: 637px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 10px;

color: #000000;
font-size: 24px;
text-align: center;
font-family: open-sans, sans-serif;
font-weight: 300;
}

#label-button-row{
	position: absolute;
	width: 650px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 125px;
}

.label-nav-button{
	height: 90px;
	width: 90px;
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
border-style: none;
border-color: transparent;
background-color: #468966;
border-radius: 100px;

float: left;
margin-right: 20px;
}

.pic-and-link{
	padding-top: 15px;
	padding-left: 7px;
}

.button-link{
	position: absolute;
	width: 90px;
	height: 90px;
	z-index: 1;
}
