
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('http://fonts.googleapis.com/css?family=Quicksand:300');

#explore-label-nav{
	position: relative;
	height: 220px;
	width: 100%;
	background-color: #EDE8E0;
}

#explore-sections-text{
	position: absolute;
	width: 637px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 15px;

color: #000000;
font-size: 24px;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}

#label-button-row{
	position: absolute;
	width: 660px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 125px;
}

.label-nav-button{
	height: 90px;
	width: 90px;

	/*box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);*/
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;

	float: left;
	margin-top: -30px;
	margin-right: 20px;
}
.label-nav-button:hover{
	/*box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);*/
	/*box-shadow: 7px #44B8E9;*/
	/*outline: solid 7px #44B8E9;*/
	box-shadow: 0 0 0 7pt #44B8E9;

}

.pic-and-link{
	padding-top: 15px;
	padding-left: 7px;
}

.button-link{
	position: absolute;
	width: 60px;
	height: 87px;
	z-index: 1;
}

.egg-text{
	background-color: #F5F3E9;
	border-radius: 10px;
}

.poultry-text{
	background-color: #F0D5AA;
	border-radius: 10px;
}

.pork-text{
	background-color: #FBC0B7;
	border-radius: 10px;
}

.meat-text{
	background-color: #ffcc99;
	border-radius: 10px;
}


.main-title{
	width: 200px;
	margin: auto;
	margin-top: 13px;
	margin-bottom: 30px;
	line-height: 60px;
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  text-align: center;
}

.pic-and-overview{
	width: 900px;
	margin: auto;
}

.pic{
	margin-left: 20px;
	margin-right: 30px;
	display: inline-block;
}

#egg-pic{}
#poultry-pic{}
.pork-pic{
	margin-left: 450px;
}

.overview{

	display: inline-block;
	width: 348px;

	border-color: #000000;

	/* border-radius: 20px; */
	margin-top: 30px;
}

#poultry-overview{
	margin-left: 54px;
	margin-right: 60px;
	margin-top: 30px;
	  height: 320px;

}

#meat-overview{
	margin-left: 54px;
	margin-right: 60px;
	margin-top: 30px;
	  height: 320px;

}

.overview-text{
	font-size: medium;
	font-family: 'Open Sans';
	border: 25px solid transparent;
}

#click-the-label{
		width: 1000px;
	margin: auto;
	margin-top: 50px;
}

.pic-and-buttons{
	position: relative;
}

#poultry-pic-and-buttons{
	width: 598px;
	/* display: inline-block; */
	/* float: left; */
}

#meat-pic-and-buttons{
	width: 598px;
	/* display: inline-block; */
	/* float: left; */
}

.label-button{
	position: absolute;
	border: 2px solid #44B8E9;
      border-radius: 20px;
}

.label-button:hover{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
	cursor: hand;
	cursor: pointer;
}

#USDA-organic{
margin-left: 144px;

margin-top: 43px;

width: 85px;

height: 85px;

}

1:35
/* egg labels */
#all-natural{
   margin-left: 202px;

   margin-top: 159px;
   height: 26px;
   width: 270px;
}
#no-antibiotics{
 margin-left: 568px;
 margin-top: 133px;
 height: 23px;
 width: 173px;
}
#free-roaming{
   margin-left: 230px;
   margin-top: 23px;
   height: 25px;
   width: 210px;

}
#no-hormones{
   margin-left: 283px;
   margin-top: 182px;
   height: 24px;
   width: 160px;
}
#grade-a{
   margin-left: 138px;
   margin-top: 132px;
   width: 215px;
   height: 28px;
}
#omega-3{
   margin-left: 658px;
   margin-top: 165px;
   width: 98px;
   height: 31px;
}
#saturated-fat{
   margin-left: 558px;
   margin-top: 111px;
   width: 200px;
   height: 24px;
}
#vitamin-e{
   margin-left: 556px;
   margin-top: 166px;
   width: 102px;
   height: 31px;
}

/* poultry labels */
#cage-free{
    height: 26px;
    width: 80px;
    margin-left: 311px;   margin-top: 23px;
}
#poultry-all-natural{
    width: 160px;
    height: 90px;
    margin-left: 50px;
    margin-top: 146px;
}
#poultry-no-antibiotics{
    height: 26px;
    width: 136px;
    margin-left: 439px;
    margin-top: 308px;
}
#free-range{
    height: 26px;
    width: 89px;
    margin-left: 211px;
    margin-top: 23px;
}
#poultry-no-hormones{
    height: 26px;   width: 136px;
    margin-left: 441px;
    margin-top: 336px;
}
#vegetarian-fed{
    height: 26px;
    width: 117px;
    margin-left: 402px;   margin-top: 23px;
}

#meat-grass-fed {
    height: 26px;
    width: 117px;
    margin-left: 180px;   margin-top: 257px;
}

#meat-organic {
    height: 65px;
    width: 65px;
    margin-left: 336px;   margin-top: 182px;
}

#meat-free-roaming {
    height: 18px;
    width: 117px;
    margin-left: 340px;   margin-top: 127px;
}

#meat-hormone-free {
    height: 18px;
    width: 117px;
    margin-left: 340px;   margin-top: 144px;

}

#meat-pasture-raised {
    height: 55px;
    width: 117px;
    margin-left: 345px;   margin-top: 45px;

}

/* Pork Labels */
#pork-naturally-raised{
    height: 70px;
    width: 214px;
    margin-left: 51px;
    margin-top: 55px;
}
#pork-locally-grown{
    width: 144px;
    height: 30px;
    margin-left: 99px;
    margin-top: 163px;
}
#pork-minimally-processed{
    height: 30px;
    width: 176px;
    margin-left: 240px;
    margin-top: 163px;
}
#pork-uncured{
    height: 30px;
    width: 89px;
    margin-left: 416px;
    margin-top: 164px;
}


.label-text-box{
	 	position: relative;
  top: 350px;

	margin: auto;
	width: 719px;

	border-color: #000000;

	border-radius: 20px;
}

#poultry-label-text-box{
	max-width: 367px;
	/* margin-left: 620px; */
	/* display: inline-block; */
	/* margin-top: -49px; */
	position: absolute;
	margin-left: 620px;
	margin-top: 474px;
	height: 333px;
}

.label-click-info{

	border: 20px solid transparent;
	height: 100%;
	font-size: medium;
  color: #000000;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;


	/* -webkit-column-count: 2; */ /* Chrome, Safari, Opera */
    /*-moz-column-count: 2;*/ /* Firefox */
    /*column-count: 2;*/

	overflow-y: hidden;
}

.terms-to-look-for{
	position: relative;
	width: 900px;
	margin: auto;

}

#egg-terms{
	margin-top: 380px;
}
#poultry-terms{
	margin-top: 500px;
}

#pork-terms{
	margin-top: 490px;
}

#meat-terms{
	margin-top: 500px;
}


.terms-title{
	  line-height: 43px;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

}

.term-circle{
	display: inline-block;
	  box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
  border-style: none;
  border-color: transparent;
  background-color: #468966;
  border-radius: 100px;
  width: 100px;
  height: 99px;
}

.term-text{
	margin-left: 10px;
	display: inline-block;
	width: 300px;
	  font-size: 18px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

td{
	padding: 15px;
	padding-bottom: 30px;
}


#quiz{
	position: relative;
	width: 900px;
	margin: auto;
	margin-top: 50px;

}

.quiz-title{
	line-height: 43px;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.quiz-box{
	margin: auto;
	margin-bottom: 40px;
	margin-top: 20px;
	width: 800px;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
  border-color: #000000;
  background-color: #A1C4B4;
  border-radius: 20px;
    line-height: 29px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.quiz-text{
	padding: 20px 20px 0px 20px;

/*	column-count: 2;
	column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	-moz-column-count: 2;
	-moz-column-gap: 30px;*/
}

.submit-button {
	padding-bottom: 10px;
	text-align: center;
}


h1,h2{
	margin-top: 0px;
}

