
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('http://fonts.googleapis.com/css?family=Quicksand:300');

/*for all pages, need this to prevent white space on right*/
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 832px;
    overflow-x: hidden;
}

/**navbar*/
.top-bar{
  background-color: #EDE8E0;
  height: 90px;
  line-height: 90px;
  text-align: center;
  letter-spacing: 14px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #545454;
  font-size: 48px;
}


/*prevent collaps*/
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar, .container-fluid { 
  height: 50px; 
  max-height: 50px;
  min-height: 50px;
  min-width: 768px;
}

.navbar{
    margin-bottom: 0px;
    border: none;

}

.container-fluid{
    background-color: #468966;
}
.nav{
  padding-left: 180px;
  padding-right: 180px;
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.nav>li{
  width: 20%;
  font-size: 18px;
  font-family: quicksand, sans-serif;
  font-weight: 300;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover{
    color: white;
}

.navbar .nav .active > a, 
.navbar .nav .active > a:hover {
  background-color: #EDE8E0;
  color: #545454;
}