/*side nav for explore labels stuff*/
#side-nav{
  width: 40px;
  margin-top: -80px;
  float: left;
  position: fixed;
}

#side-nav-menu{
  margin-left: 10px;
}

.side-nav-circle{
  width: 22px;
  height: 21px;
  border-style: none;
  border-color: transparent;
  background-color: #468966;
  border-radius: 100px;
}

a.link{
  position: absolute;
  width: 22px;
  height: 21px;

   /*edit: added z-index */
  z-index: 1;
}


.nav-item-text{
  visibility: hidden;
}

.side-nav-connector{
  width: 11px;
  height: 50px;
  border-right: solid #545454 3px;
}

#labels-body{
  margin-left: 70px;
}

.item{
  height: 400px;
  background-color: #545454;
}



.circle{
  border-radius: 100px;
  width: 160px;
height: 160px;
box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
border-style: none;
border-color: transparent;
background-color: #468966;
}


#first-block{
  height: 952px;
  border-color: #000000;
  background-color: #EDE8E0;
}

#second-block{
  height: 860px;
  border-color: #000000;
  background-color: #545454;
}

#third-block{
  height: 575px;
  border-color: #000000;
  background-color: #EDE8E0;
}

#container {
  width: 100%;
  position: relative;
}

#doyouknow {
  border-radius: 30px 30px 30px 0px;
  box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
border-color: #000000;
background-color: #EDE8E0;
  margin-top: 30px;
  margin-left: 30px;
  width: 481px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

#image {
  width: 100%;
  height: 500px;
  z-index: 10;
}


.navbar{
	background-color: #468966;
	color: #EDE8E0;
  /*for scrolling sidebar*/
  position: relative; 
  z-index: 3000;
}

.navbar .nav{
	background-color: #468966;
	color: #EDE8E0;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    width: 100%;
}

.navbar-inverse{
	border: none;
	border-radius: 0;
	margin-bottom: 0px;
}

.navbar-nav>li {
        display: table-cell;
        float: none;
        width: 16%;
        line-height: 22px;
font-size: 18px;
text-align: center;
font-family: quicksand, sans-serif;
font-weight: 300;
    }

.navbar-inverse .navbar-nav>li>a
.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #468966;
	color: #EDE8E0;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus{
  background-color: #EDE8E0;
  color: #545454;
}


.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
{
    	background-color: #EDE8E0;
	color: #545454;
}


#top-bar{
	width: 100%;
	background-color: #EDE8E0;
	height: 75px;
	text-align: center;
	letter-spacing: 14px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #545454;
	font-size: 48px;
	line-height: 58px;

}

/*some of this taken from http://css-tricks.com/scrollfollow-sidebar/*/

/* Negative top margin on sidebar pulls up header under title-area */
/*#sidebar { 
  width: 190px; 

}*/

/* Title area kept above all with z-index */
/*#title-area { 
  background: white; 
  position: relative; 
  z-index: 3000; 
}*/


#sidebar-logo{
  font-size: 30px;
  z-index: 1;
}

#glossary-body{
	margin-left: 20%;
  overflow: scroll;
}

#MainMenu {
  margin-top: -40px;
	width: 20%;
	float: left;
  position: fixed;  
  z-index: 1000;
  overflow: scroll;
}

.sidebar{
  background-color: #468966;

}
.sub_1{
	margin-left: 10px;
}

.sub_2{
	margin-left: 20px;
}

.sub_3{
	margin-left: 30px;
}

.glossary-item{
	border: 3px solid black;
	height: 100px;
}

/*slideshow styles from http://www.sitepoint.com/you-dont-need-javascript-for-that*/

.slideshow {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px white;
}

.slideshow-container {
  width: 2500px;
  font-size: 0;
  transition: 6s ease;
  height: 225px;
}

/*.slideshow-container:hover {
  animation-play-state: paused;
}*/

img {
  width: 100%;
  height: 870px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.slide {
  animation: slide 18s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  
  12.5% {
    transform: translateX(0%);
  }
  
  25% {
    transform: translateX(-25%);
  }
  
  37.5% {
    transform: translateX(-25%);
  }
  
  50% {
    transform: translateX(-50%);
  }
  
  62.5% {
    transform: translateX(-50%);
  }
  
  75% {
    transform: translateX(-75%);
  }
  
  87.5% {
    transform: translateX(-75%);
  }
  
  99% {
    transform: translateX(-75%);
  }
  
  100% {
    transform: translateX(0);
  }
}



