.version.basics /* version checker */
{
	color: #0000F4;
	background-color: #9CA328;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 4225px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 45px;
	width: 0.01px;
}

#pu3251-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u3251-3,#u3251-3-bw
{
	z-index: 2;
	min-height: 50px;
}

#menuu560
{
	z-index: 5;
	width: 1036px;
	margin-right: -10000px;
	left: 112px;
}

#u589
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
}

#u590
{
	width: 207px;
	padding-bottom: 28px;
}

#u591-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u596
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
	left: 207px;
}

#u599
{
	width: 207px;
	padding-bottom: 28px;
}

#u602-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u561
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
	left: 414px;
}

#u562
{
	width: 207px;
	padding-bottom: 28px;
}

#u564-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u568
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
	left: 621px;
}

#u569
{
	width: 207px;
	padding-bottom: 28px;
}

#u590.MuseMenuActive,#u599.MuseMenuActive,#u562.MuseMenuActive,#u569.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

#u572-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u590.MuseMenuActive #u591-4,#u599.MuseMenuActive #u602-4,#u562.MuseMenuActive #u564-4,#u569.MuseMenuActive #u572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 207px;
	margin: 0px -10000px 0px 0px;
}

#u582
{
	width: 208px;
	min-height: 50px;
	margin-right: -10000px;
	left: 828px;
}

#u583
{
	width: 208px;
	padding-bottom: 28px;
}

#u583.MuseMenuActive
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u586-4
{
	width: 208px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u583.MuseMenuActive #u586-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 208px;
	margin: 0px -10000px 0px 0px;
}

#u464-4
{
	z-index: 37;
	width: 839px;
	min-height: 86px;
	background-color: transparent;
	line-height: 72px;
	text-align: left;
	font-size: 60px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 21px;
	margin-top: 24px;
	position: relative;
}

#pu654
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 20px;
}

#u654
{
	z-index: 47;
	width: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u465
{
	z-index: 48;
	width: 1px;
	height: 187px;
	border-color: #000000;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u466
{
	z-index: 49;
	width: 21px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u467
{
	z-index: 50;
	width: 21px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
}

#u468
{
	z-index: 51;
	width: 21px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 184px;
}

#pu471-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 28px;
}

#u471-6
{
	z-index: 41;
	width: 231px;
	min-height: 36px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 5px;
	position: relative;
}

#u473-6
{
	z-index: 58;
	width: 364px;
	min-height: 40px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-top: 65px;
	position: relative;
}

#u1004
{
	z-index: 199;
	width: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u1007
{
	z-index: 200;
	width: 1px;
	height: 187px;
	border-color: #000000;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u1005
{
	z-index: 201;
	width: 21px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u1006
{
	z-index: 202;
	width: 21px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
}

#u1008
{
	z-index: 203;
	width: 21px;
	height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 184px;
}

#pu472-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 520px;
}

#u472-6
{
	z-index: 52;
	width: 445px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	position: relative;
}

#u474-6
{
	z-index: 64;
	width: 416px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u471,#u473,#u472,#u474
{
	font-size: 20px;
	line-height: 24px;
}

#whatis
{
	left: -1px;
	margin-top: 36px;
	position: relative;
}

#u605-4
{
	z-index: 70;
	width: 388px;
	min-height: 46px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 9px;
	margin-top: 4px;
	position: relative;
}

#u606-9
{
	z-index: 74;
	width: 734px;
	min-height: 118px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 70px;
	margin-top: 20px;
	position: relative;
}

#u606-3,#u606-7
{
	font-size: 20px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#pu607
{
	width: 0.01px;
	margin-left: 102px;
	margin-top: 55px;
}

#u607
{
	z-index: 83;
	width: 394px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u612
{
	z-index: 85;
	width: 423px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 20px 20px 0px 20px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 426px;
}

#u613-4
{
	z-index: 86;
	width: 378px;
	min-height: 116px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-bottom: -19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 23px;
}

#u3148
{
	z-index: 36;
	width: 644px;
	background-color: #545454;
	border-radius: 20px;
	margin-left: 132px;
	margin-top: 33px;
	position: relative;
}

#u2229-6
{
	z-index: 214;
	width: 610px;
	min-height: 71px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
}

#u2229-3
{
	font-size: 20px;
	text-align: center;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u606-4,#u2229-4
{
	font-size: 18px;
	line-height: 22px;
}

#whoov
{
	margin-left: 10px;
	margin-top: 62px;
	position: relative;
}

#u642-4
{
	z-index: 159;
	width: 531px;
	min-height: 46px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 12px;
	margin-top: 9px;
	position: relative;
}

#u643-7
{
	z-index: 163;
	width: 734px;
	min-height: 144px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 71px;
	margin-top: 23px;
	position: relative;
}

#pu2252
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 42px;
}

#u2252
{
	z-index: 244;
	width: 350px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2252_clip
{
	overflow: hidden;
	width: 350px;
	height: 193px;
}

#u2252_img
{
	margin-bottom: -47px;
}

#u2258
{
	z-index: 250;
	width: 357px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 435px;
}

#u2258_clip
{
	overflow: hidden;
	width: 357px;
	height: 197px;
}

#u2258_img
{
	margin-left: -36px;
	margin-right: -30px;
}

#pu2265
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 17px;
}

#u2265
{
	z-index: 252;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2268
{
	z-index: 255;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 9px;
}

#u2266
{
	z-index: 253;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u2270
{
	z-index: 257;
	width: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 11px;
}

#u2267
{
	z-index: 254;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 244px;
}

#u2272
{
	z-index: 259;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 6px;
}

#u2277
{
	z-index: 261;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 427px;
}

#u2388
{
	z-index: 280;
	width: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 8px;
}

#u2278
{
	z-index: 262;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u2391
{
	z-index: 282;
	width: 68px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 16px;
}

#u2280
{
	z-index: 263;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 686px;
}

#u2394
{
	z-index: 284;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u2290-4
{
	z-index: 264;
	width: 647px;
	min-height: 35px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 126px;
	margin-top: 57px;
	position: relative;
}

#pu2303-4
{
	width: 0.01px;
	margin-left: 151px;
	margin-top: 38px;
}

#u2303-4
{
	z-index: 268;
	width: 127px;
	min-height: 91px;
	background-color: transparent;
	color: #468966;
	line-height: 72px;
	font-size: 60px;
	font-family: arvo, serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u2304-4
{
	z-index: 272;
	width: 118px;
	min-height: 81px;
	background-color: transparent;
	color: #B32230;
	line-height: 72px;
	font-size: 60px;
	font-family: arvo, serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 442px;
}

#pu614-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 15px;
}

#u614-4
{
	z-index: 90;
	width: 547px;
	min-height: 46px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#whattype
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 40px;
}

#pu624-3
{
	width: 0.01px;
	margin-left: -200px;
	margin-top: 32px;
}

#u624-3
{
	z-index: 117;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
}

#u615-18
{
	z-index: 94;
	width: 734px;
	min-height: 247px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 271px;
}

#pu616
{
	width: 0.01px;
	margin-left: 71px;
	margin-top: 43px;
}

#u616
{
	z-index: 112;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
}

#u2235
{
	z-index: 236;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 13px;
}

#u1607
{
	z-index: 208;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 237px;
}

#u2239
{
	z-index: 238;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 9px;
}

#u1608
{
	z-index: 209;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u2241
{
	z-index: 240;
	width: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 11px;
}

#u1609
{
	z-index: 210;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	left: 711px;
}

#u2243
{
	z-index: 242;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 6px;
}

#u623-4
{
	z-index: 113;
	width: 787px;
	min-height: 52px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 84px;
	margin-top: 43px;
	position: relative;
}

#pu1610
{
	width: 0.01px;
	margin-left: 178px;
	margin-top: 31px;
}

#u1610
{
	z-index: 211;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u2376
{
	z-index: 276;
	width: 77px;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 12px;
}

#u1611
{
	z-index: 212;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u2400
{
	z-index: 286;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu2230-4
{
	width: 0.01px;
	margin-left: 91px;
	margin-top: 24px;
}

#u2230-4
{
	z-index: 220;
	width: 296px;
	min-height: 38px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2232-4
{
	z-index: 228;
	width: 296px;
	min-height: 38px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#pu629-10
{
	width: 0.01px;
	margin-left: 53px;
	margin-top: 7px;
}

#u629-10
{
	z-index: 120;
	width: 358px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u632-8
{
	z-index: 135;
	width: 347px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 405px;
}

#u629-2,#u629-4,#u632-2
{
	font-family: open-sans, sans-serif;
}

#pu2264
{
	width: 0.01px;
	margin-left: 178px;
	margin-top: 5px;
}

#u2264
{
	z-index: 246;
	width: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1613
{
	z-index: 247;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u2249
{
	z-index: 248;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 8px;
}

#u1615
{
	z-index: 213;
	width: 106px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u2382
{
	z-index: 278;
	width: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 5px;
}

#pu2233-4
{
	width: 0.01px;
	margin-left: 91px;
	margin-top: 20px;
}

#u2233-4
{
	z-index: 224;
	width: 296px;
	min-height: 38px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2234-4
{
	z-index: 232;
	width: 296px;
	min-height: 38px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u2230,#u2232,#u2233,#u2234
{
	text-decoration: underline;
}

#pu636-5
{
	width: 0.01px;
	margin-left: 53px;
	margin-top: 9px;
}

#u636-5
{
	z-index: 130;
	width: 358px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u635-16
{
	z-index: 143;
	width: 353px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 405px;
}

#u629-8,#u632-6,#u636-3,#u635-4,#u635-10,#u635-14
{
	font-family: open-sans, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u629-6,#u632-4,#u636-2,#u635-2,#u635-6,#u635-8,#u635-12
{
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

#u629-5,#u629-7,#u632-3,#u632-5,#u636,#u635,#u635-3,#u635-5,#u635-7,#u635-9,#u635-11,#u635-13
{
	line-height: 18px;
}

#pu652-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 36px;
}

#u652-4
{
	z-index: 170;
	width: 640px;
	min-height: 46px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#does
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 50px;
}

#u653-25
{
	z-index: 174;
	width: 817px;
	min-height: 239px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 72px;
	margin-top: 50px;
	position: relative;
}

#u615-2,#u653-3
{
	font-size: 23px;
	font-weight: 400;
	line-height: 28px;
}

#u471-4,#u473-4,#u472-4,#u474-4,#u615-4,#u615-9,#u615-15,#u653-5,#u653-12,#u653-23
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u653-17
{
	font-size: 22px;
	line-height: 26px;
}

#u653-2,#u653-8,#u653-10,#u653-19
{
	font-weight: 400;
	line-height: 24px;
}

#u606-2,#u606-6,#u2229-2,#u615-7,#u615-12,#u615-14,#u653-9,#u653-15,#u653-18,#u653-21
{
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
}

#u606,#u606-5,#u2229,#u615,#u615-3,#u615-6,#u615-8,#u615-11,#u615-13,#u653,#u653-4,#u653-7,#u653-11,#u653-14,#u653-16,#u653-20,#u653-22
{
	line-height: 24px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
}

