.version.glossary /* version checker */
{
	color: #000003;
	background-color: #610193;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 700px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	width: 0.01px;
}

#top
{
	left: -31px;
	position: relative;
}

#u603
{
	z-index: 2;
	min-height: 45px;
}

#u603_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu560
{
	z-index: 3;
	width: 1149px;
	margin-right: -10000px;
	left: 5px;
}

#u589
{
	width: 229px;
	min-height: 45px;
	margin-right: -10000px;
}

#u590
{
	width: 229px;
	padding-bottom: 25px;
}

#u590.MuseMenuActive
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u591-4
{
	width: 229px;
	min-height: 20px;
	margin-right: -10000px;
	top: 12px;
}

#u590.MuseMenuActive #u591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 229px;
	margin: 0px -10000px 0px 0px;
}

#u596
{
	width: 230px;
	min-height: 45px;
	margin-right: -10000px;
	left: 229px;
}

#u599
{
	width: 230px;
	padding-bottom: 25px;
}

#u602-4
{
	width: 230px;
	min-height: 20px;
	margin-right: -10000px;
	top: 12px;
}

#u561
{
	width: 230px;
	min-height: 45px;
	margin-right: -10000px;
	left: 459px;
}

#u562
{
	width: 230px;
	padding-bottom: 25px;
}

#u564-4
{
	width: 230px;
	min-height: 20px;
	margin-right: -10000px;
	top: 12px;
}

#u568
{
	width: 230px;
	min-height: 45px;
	margin-right: -10000px;
	left: 689px;
}

#u569
{
	width: 230px;
	padding-bottom: 25px;
}

#u572-4
{
	width: 230px;
	min-height: 20px;
	margin-right: -10000px;
	top: 12px;
}

#u582
{
	width: 230px;
	min-height: 45px;
	margin-right: -10000px;
	left: 919px;
}

#u583
{
	width: 230px;
	padding-bottom: 25px;
}

#u599.MuseMenuActive,#u562.MuseMenuActive,#u569.MuseMenuActive,#u583.MuseMenuActive
{
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#u586-4
{
	width: 230px;
	min-height: 20px;
	margin-right: -10000px;
	top: 12px;
}

#u599.MuseMenuActive #u602-4,#u562.MuseMenuActive #u564-4,#u569.MuseMenuActive #u572-4,#u583.MuseMenuActive #u586-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 0px -10000px 0px 0px;
}

#u603-bw
{
	z-index: 2;
	min-height: 45px;
	margin-top: 2px;
}

#u913-4
{
	z-index: 35;
	width: 520px;
	min-height: 86px;
	background-color: transparent;
	line-height: 72px;
	text-align: left;
	font-size: 60px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 30px;
	margin-top: 12px;
	position: relative;
}

#pu972
{
	width: 0.01px;
	margin-left: 170px;
	margin-top: 23px;
}

#u972
{
	z-index: 121;
	width: 570px;
	background-color: #468966;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u973-23
{
	z-index: 122;
	width: 225px;
	min-height: 136px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 64px;
}

#u977-23
{
	z-index: 145;
	width: 225px;
	min-height: 157px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-bottom: -12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 290px;
}

#u973-21 > #u973-4:before,#u973-21 > #u973-8:before,#u973-21 > #u973-12:before,#u973-21 > #u973-16:before,#u973-21 > #u973-20:before,#u977-21 > #u977-4:before,#u977-21 > #u977-8:before,#u977-21 > #u977-12:before,#u977-21 > #u977-16:before,#u977-21 > #u977-20:before
{
	font-size: 20px;
	line-height: 1.2;
}

#u3158-4
{
	z-index: 205;
	width: 505px;
	min-height: 85px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	text-align: center;
	font-size: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 35px;
}

#ppallnatural
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 39px;
}

#pallnatural
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 40px;
}

#allnatural
{
	margin-left: 2px;
	position: relative;
}

#u929-18
{
	z-index: 63;
	width: 910px;
	min-height: 251px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	margin-top: 4px;
	position: relative;
}

#cagefree
{
	margin-top: 22px;
	position: relative;
}

#u3149-7
{
	z-index: 180;
	width: 910px;
	min-height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	margin-top: 2px;
	position: relative;
}

#u3151-7
{
	z-index: 188;
	width: 910px;
	min-height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 4px;
	margin-top: 2px;
	position: relative;
}

#freerange,#fresh
{
	margin-top: 10px;
	position: relative;
}

#u931-7
{
	z-index: 87;
	width: 910px;
	min-height: 93px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 1px;
	margin-top: 12px;
	position: relative;
}

#grassfed
{
	margin-left: 2px;
	margin-top: 30px;
	position: relative;
}

#u3154-7
{
	z-index: 196;
	width: 914px;
	min-height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#naturalflavor
{
	margin-left: 3px;
	margin-top: 26px;
	position: relative;
}

#u930-6
{
	z-index: 81;
	width: 910px;
	min-height: 102px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 3px;
	margin-top: 1px;
	position: relative;
}

#u929-3,#u929-8,#u3149-3,#u3151-3,#u931-3,#u3154-3,#u930-2
{
	font-size: 24px;
	line-height: 29px;
}

#nohormones
{
	margin-top: 28px;
	position: relative;
}

#u943-6
{
	z-index: 105;
	width: 909px;
	min-height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	margin-top: 2px;
	position: relative;
}

#nongmo
{
	margin-left: 6px;
	margin-top: 17px;
	position: relative;
}

#u932-6
{
	z-index: 94;
	width: 909px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u973-4,#u973-8,#u973-12,#u973-16,#u973-20,#u977-4,#u977-8,#u977-12,#u977-16,#u977-20,#u3149-5,#u3151-5,#u931-5,#u3154-5,#u930-4,#u943-4,#u932-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#organicenv
{
	margin-left: 2px;
	margin-top: 26px;
	position: relative;
}

#u928-18
{
	z-index: 45;
	width: 911px;
	min-height: 211px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 4px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u929-2,#u3149-2,#u3151-2,#u931-2,#u3154-2,#u943-2,#u932-2,#u928-2
{
	line-height: 36px;
}

#usda
{
	margin-left: 1px;
	margin-top: 13px;
	position: relative;
}

#u945-10
{
	z-index: 111;
	width: 911px;
	min-height: 111px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	margin-top: 3px;
	position: relative;
}

#u929-5,#u928-4,#u945-4
{
	font-size: 30px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u929,#u3149,#u3151,#u931,#u3154,#u930,#u943,#u932,#u928,#u945
{
	font-weight: 400;
	line-height: 36px;
}

#u945-2
{
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

#u973,#u973-5,#u973-9,#u973-13,#u973-17,#u977,#u977-5,#u977-9,#u977-13,#u977-17,#u929-4,#u929-7,#u929-10,#u929-12,#u929-15,#u3149-4,#u3151-4,#u931-4,#u3154-4,#u930-3,#u943-3,#u932-3,#u928-3,#u928-6,#u928-9,#u928-12,#u928-15,#u945-3,#u945-7
{
	font-size: 20px;
	line-height: 24px;
}

#u945-5,#u945-8
{
	font-size: 30px;
	line-height: 36px;
}

#u912
{
	z-index: 34;
	width: 2px;
	height: 1537px;
	border-color: #000000;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 10px;
}

#u914
{
	z-index: 39;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u915
{
	z-index: 40;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
}

#u916
{
	z-index: 41;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 644px;
	left: 1px;
}

#u917
{
	z-index: 42;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 1px;
}

#u918
{
	z-index: 43;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 803px;
	left: 1px;
}

#u919
{
	z-index: 44;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 963px;
	left: 1px;
}

#u933
{
	z-index: 100;
	width: 2px;
	height: 513px;
	border-color: #000000;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 1528px;
	left: 10px;
}

#u934
{
	z-index: 101;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1116px;
	left: 1px;
}

#u935
{
	z-index: 102;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1304px;
	left: 1px;
}

#u936
{
	z-index: 103;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1482px;
}

#u937
{
	z-index: 104;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1717px;
}

#organic
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1412px;
	left: 1150px;
}

#u1002
{
	z-index: 175;
	width: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 609px;
	left: 50%;
	margin-left: 510px;
}

#u992
{
	z-index: 176;
	width: 60px;
	height: 60px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u993
{
	z-index: 177;
	-webkit-transform: matrix(-1,0,0,-1,42,50);
	-ms-transform: matrix(-1,0,0,-1,42,50);
	transform: matrix(-1,0,0,-1,42,50);
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u993_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

