.ts04-Body-Sans-Light
{
	font-family: quicksand-n4, sans-serif;
}

#u591-4
{
	font-family: quicksand-n3, sans-serif;
}

#u602-4
{
	font-family: quicksand-n3, sans-serif;
}

#u564-4
{
	font-family: quicksand-n3, sans-serif;
}

#u572-4
{
	font-family: quicksand-n3, sans-serif;
}

#u586-4
{
	font-family: quicksand-n3, sans-serif;
}

#u973-23,#u977-23,#u3158-4
{
	font-family: open-sans-n3, sans-serif;
}

#u913-4,#u929-18,#u3149-7,#u3151-7,#u931-7,#u3154-7,#u930-6,#u943-6,#u932-6,#u928-18,#u945-10
{
	font-family: quicksand-n3, sans-serif;
}

