.ts04-Body-Sans-Light
{
	font-family: quicksand-n4, sans-serif;
}

#u591-4
{
	font-family: quicksand-n3, sans-serif;
}

#u602-4
{
	font-family: quicksand-n3, sans-serif;
}

#u564-4
{
	font-family: quicksand-n3, sans-serif;
}

#u572-4
{
	font-family: quicksand-n3, sans-serif;
}

#u586-4
{
	font-family: quicksand-n3, sans-serif;
}

#u979-4,#u973-23,#u980-4,#u977-27
{
	font-family: open-sans-n3, sans-serif;
}

#u913-4,#u927-4,#u929-15,#u931-6,#u930-7,#u932-7,#u928-17,#u939-4,#u941-7,#u942-7,#u944-7,#u943-7,#u940-36,#u945-10
{
	font-family: quicksand-n3, sans-serif;
}

