.ts04-Body-Sans-Light
{
	font-family: quicksand-n4, sans-serif;
}

#u192-4
{
	font-family: arvo-n7, serif;
}

#u146-4
{
	font-family: quicksand-n3, sans-serif;
}

#u1774-4
{
	font-family: quicksand-n3, sans-serif;
}

#u1780-4
{
	font-family: quicksand-n3, sans-serif;
}

#u1791-4
{
	font-family: quicksand-n3, sans-serif;
}

#u1806-4
{
	font-family: quicksand-n3, sans-serif;
}

#u2470-4,#u1030-4
{
	font-family: open-sans-n3, sans-serif;
}

#u680-4
{
	font-family: arvo-n7, serif;
}

#u273-4,#u274-4,#u452-2
{
	font-family: arvo-n4, serif;
}

#u275-4,#u298-4,#u299-4,#u300-4,#u314-4,#u452-4
{
	font-family: arvo-i7, serif;
}

#u290-4,#u292-4,#u312-7,#u453-4,#u457-4,#u454-4,#u455-4,#u458-7,#u320-5,#u323-4
{
	font-family: quicksand-n3, sans-serif;
}

#u331-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3084-4,#u3106-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3097-4,#u3105-4
{
	font-family: open-sans-n3, sans-serif;
}

