.ts04-Body-Sans-Light
{
	font-family: quicksand-n4, sans-serif;
}

#u591-4
{
	font-family: quicksand-n3, sans-serif;
}

#u602-4
{
	font-family: quicksand-n3, sans-serif;
}

#u564-4
{
	font-family: quicksand-n3, sans-serif;
}

#u572-4
{
	font-family: quicksand-n3, sans-serif;
}

#u586-4
{
	font-family: quicksand-n3, sans-serif;
}

#u464-4,#u471-6,#u473-6,#u472-6,#u474-6
{
	font-family: quicksand-n3, sans-serif;
}

#u2303-4,#u2304-4
{
	font-family: arvo-n7, serif;
}

#u605-4,#u642-4,#u614-4,#u652-4
{
	font-family: arvo-n4, serif;
}

#u606-9,#u613-4,#u2229-6,#u643-7,#u2290-4,#u615-18,#u623-4,#u2230-4,#u2232-4,#u629-2,#u629-4,#u629-8,#u632-2,#u632-6,#u2233-4,#u2234-4,#u636-3,#u635-4,#u635-10,#u635-14,#u653-25
{
	font-family: open-sans-n3, sans-serif;
}

