.version.index /* version checker */
{
	color: #0000FA;
	background-color: #DA5D7F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2397px;
	background-image: none;
	border-style: none;
	border-color: #468966;
	background-color: transparent;
	border-radius: 0px 0px 10px 0px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u335,#u335-bw
{
	z-index: 34;
	height: 105px;
}

#u192-4
{
	z-index: 35;
	min-height: 61px;
}

#u192-4-bw
{
	z-index: 35;
	min-height: 61px;
	margin-top: 1px;
}

#u2470-4
{
	z-index: 46;
	width: 310px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 636px;
}

#menuu135
{
	z-index: 3;
	width: 1148px;
	margin-right: -10000px;
	left: 5px;
}

#u143
{
	width: 229px;
	min-height: 41px;
	margin-right: -10000px;
}

#u144
{
	width: 229px;
	padding-bottom: 21px;
}

#u146-4
{
	width: 229px;
	min-height: 20px;
	margin-right: -10000px;
	top: 10px;
}

#u1768
{
	width: 229px;
	min-height: 41px;
	margin-right: -10000px;
	left: 229px;
}

#u1771
{
	width: 229px;
	padding-bottom: 21px;
}

#u144.MuseMenuActive,#u1771.MuseMenuActive
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u1774-4
{
	width: 229px;
	min-height: 20px;
	margin-right: -10000px;
	top: 10px;
}

#u144.MuseMenuActive #u146-4,#u1771.MuseMenuActive #u1774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 229px;
	margin: 0px -10000px 0px 0px;
}

#u1775
{
	width: 230px;
	min-height: 41px;
	margin-right: -10000px;
	left: 458px;
}

#u1778
{
	width: 230px;
	padding-bottom: 21px;
}

#u1780-4
{
	width: 230px;
	min-height: 20px;
	margin-right: -10000px;
	top: 10px;
}

#u1789
{
	width: 230px;
	min-height: 41px;
	margin-right: -10000px;
	left: 688px;
}

#u1790
{
	width: 230px;
	padding-bottom: 21px;
}

#u1791-4
{
	width: 230px;
	min-height: 20px;
	margin-right: -10000px;
	top: 10px;
}

#u1803
{
	width: 230px;
	min-height: 41px;
	margin-right: -10000px;
	left: 918px;
}

#u1804
{
	width: 230px;
	padding-bottom: 21px;
}

#u1778.MuseMenuActive,#u1790.MuseMenuActive,#u1804.MuseMenuActive
{
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#u1806-4
{
	width: 230px;
	min-height: 20px;
	margin-right: -10000px;
	top: 10px;
}

#u1778.MuseMenuActive #u1780-4,#u1790.MuseMenuActive #u1791-4,#u1804.MuseMenuActive #u1806-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 230px;
	margin: 0px -10000px 0px 0px;
}

#u172,#u172-bw
{
	z-index: 2;
	min-height: 41px;
}

#u2496
{
	z-index: 50;
	min-height: 301px;
	padding-bottom: 93px;
	background: transparent url("../images/il_fullxfull316180093.jpg") no-repeat center center;
}

#u2496_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u289
{
	z-index: 57;
	width: 421px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #EDE8E0;
	border-radius: 30px 30px 30px 0px ;
	padding-bottom: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 59px;
}

#u273-4
{
	z-index: 58;
	width: 330px;
	min-height: 75px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 29px;
}

#u2496-bw
{
	z-index: 50;
	min-height: 301px;
}

#u274-4
{
	z-index: 62;
	width: 321px;
	min-height: 53px;
	background-color: transparent;
	line-height: 46px;
	font-size: 38px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 117px;
}

#u275-4
{
	z-index: 66;
	width: 350px;
	min-height: 94px;
	background-color: transparent;
	line-height: 72px;
	font-size: 60px;
	color: #B32230;
	font-family: arvo, serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 80px;
}

#u2579-4
{
	z-index: 171;
	-webkit-transform: matrix(0.0175,0.9998,-0.9998,0.0175,87,20);
	-ms-transform: matrix(0.0175,0.9998,-0.9998,0.0175,87,20);
	transform: matrix(0.0175,0.9998,-0.9998,0.0175,87,20);
	margin-bottom: -18px;
	position: relative;
	width: 67px;
	margin-right: -10000px;
	margin-top: 303px;
	left: 582px;
}

#u2579-4_img
{
	display: block;
	vertical-align: top;
}

#pu324
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -4px;
}

#u324
{
	z-index: 56;
	height: 967px;
	border-color: #000000;
	background-color: #EDE8E0;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u324-bw
{
	z-index: 56;
	height: 967px;
}

#u290-4
{
	z-index: 70;
	min-height: 86px;
	background-color: transparent;
	line-height: 84px;
	text-align: center;
	font-size: 70px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u290-4-bw
{
	z-index: 70;
	min-height: 86px;
	margin-top: 27px;
}

#u292-4
{
	z-index: 74;
	min-height: 46px;
	background-color: transparent;
	line-height: 34px;
	color: #000000;
	text-align: center;
	font-size: 28px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u292-4-bw
{
	z-index: 74;
	min-height: 46px;
	margin-top: 352px;
}

#u298-4
{
	z-index: 78;
	width: 145px;
	min-height: 70px;
	background-color: transparent;
	line-height: 36px;
	text-align: center;
	color: #B32230;
	font-size: 30px;
	font-family: arvo, serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 563px;
	left: 235px;
}

#u299-4
{
	z-index: 82;
	width: 145px;
	min-height: 70px;
	background-color: transparent;
	line-height: 36px;
	text-align: center;
	color: #B32230;
	font-size: 30px;
	font-family: arvo, serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 563px;
	left: 508px;
}

#u300-4
{
	z-index: 86;
	width: 188px;
	min-height: 70px;
	background-color: transparent;
	line-height: 36px;
	text-align: center;
	color: #B32230;
	font-size: 30px;
	font-family: arvo, serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 556px;
	left: 760px;
}

#u312-7
{
	z-index: 90;
	min-height: 50px;
	background-color: transparent;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u312-3
{
	font-size: 36px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u312
{
	font-size: 60px;
	line-height: 72px;
}

#u312-2
{
	line-height: 43px;
}

#u312-5
{
	font-size: 28px;
	line-height: 34px;
}

#u312-7-bw
{
	z-index: 90;
	min-height: 50px;
	margin-top: 620px;
}

#u314-4
{
	z-index: 97;
	min-height: 82px;
	background-color: transparent;
	line-height: 72px;
	text-align: center;
	color: #B32230;
	font-size: 60px;
	font-family: arvo, serif;
	font-weight: 700;
	font-style: italic;
}

#u314-4-bw
{
	z-index: 97;
	min-height: 82px;
	margin-top: 885px;
}

#u297
{
	z-index: 139;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 20px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 800px;
}

#u667
{
	z-index: 144;
	width: 77px;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 15px;
}

#u2983
{
	z-index: 140;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 526px;
}

#u296
{
	z-index: 141;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 20px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u661
{
	z-index: 142;
	width: 80px;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 12px;
}

#u667 .clip_frame,#u661 .clip_frame
{
	-webkit-border-radius: 20px 20px 20px 20px;
}

#u295
{
	z-index: 147;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 20px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 254px;
}

#u673
{
	z-index: 154;
	width: 73px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 17px;
}

#u2982
{
	z-index: 148;
	width: 128px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 740px;
	left: 516px;
}

#u319
{
	z-index: 149;
	width: 128px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 25px;
	position: relative;
	margin-right: -10000px;
}

#u680-4
{
	z-index: 150;
	width: 74px;
	min-height: 113px;
	background-color: transparent;
	line-height: 156px;
	color: #FFFFFF;
	font-size: 130px;
	font-family: arvo, serif;
	font-weight: 700;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: -8px;
	left: 28px;
}

#u2519
{
	z-index: 165;
	width: 177px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 174px;
}

#u2543
{
	z-index: 167;
	width: 177px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 823px;
}

#u2559
{
	z-index: 169;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 390px;
}

#content
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 110px;
}

#u3072
{
	z-index: 176;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 595px;
}

#u459
{
	z-index: 51;
	min-height: 627.8999999999999px;
	border-color: #000000;
	padding-bottom: 0px;
	background: #545454 url("../images/organic-fruit.jpg") no-repeat left top;
}

#u459_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 38px;
	padding-bottom: 38px;
}

#u451
{
	z-index: 116;
	width: 676px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #EDE8E0;
	border-radius: 30px 30px 30px 0px ;
	padding-bottom: 16px;
	left: 239px;
	position: relative;
}

#u452-6
{
	z-index: 117;
	width: 581px;
	min-height: 110px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 31px;
}

#u452-2
{
	font-size: 45px;
	line-height: 54px;
	color: #000000;
	font-family: arvo, serif;
	font-weight: 400;
}

#u452-4
{
	font-size: 60px;
	line-height: 72px;
	color: #B32230;
	font-family: arvo, serif;
	font-weight: 700;
	font-style: italic;
}

#pu450
{
	width: 0.01px;
	left: 215px;
	margin-top: 37px;
	position: relative;
}

#u450
{
	z-index: 115;
	width: 318px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #468966;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u453-4
{
	z-index: 123;
	width: 318px;
	min-height: 54px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u1603
{
	z-index: 53;
	width: 318px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #468966;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 388px;
}

#u457-4
{
	z-index: 135;
	width: 316px;
	min-height: 58px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#pu1602
{
	width: 0.01px;
	left: 211px;
	margin-top: 52px;
	position: relative;
}

#u1602
{
	z-index: 54;
	width: 318px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #468966;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u454-4
{
	z-index: 127;
	width: 318px;
	min-height: 56px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1604
{
	z-index: 52;
	width: 318px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #468966;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u455-4
{
	z-index: 131;
	width: 313px;
	min-height: 59px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u2509
{
	z-index: 146;
	width: 810px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #EDE8E0;
	border-radius: 30px 30px 0px 30px ;
	padding-bottom: 17px;
	left: 176px;
	margin-top: 31px;
	position: relative;
}

#u458-7
{
	z-index: 156;
	width: 766px;
	min-height: 124px;
	background-color: transparent;
	line-height: 41px;
	color: #000000;
	text-align: center;
	font-size: 34px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 23px;
}

#u458-3
{
	font-style: italic;
}

#u459-bw
{
	z-index: 51;
	min-height: 627.8999999999999px;
}

#pu335,#pu2496,#pu334
{
	width: 0.01px;
	margin-left: -100px;
}

#u334
{
	z-index: 55;
	min-height: 522.5499999999993px;
	border-color: #000000;
	background-color: #EDE8E0;
	padding-bottom: 0px;
}

#u334_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 14px;
	padding-bottom: 148px;
}

#u320-5
{
	z-index: 101;
	width: 838px;
	min-height: 104px;
	background-color: transparent;
	line-height: 72px;
	text-align: center;
	font-size: 60px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	left: 161px;
	position: relative;
}

#u320
{
	font-weight: 400;
}

#u325
{
	z-index: 106;
	width: 453px;
	border-color: #000000;
	background-color: #468966;
	border-radius: 30px;
	padding-bottom: 15px;
	left: 517px;
	margin-top: 26px;
	position: relative;
}

#u323-4
{
	z-index: 107;
	width: 427px;
	min-height: 125px;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

#u331-4
{
	z-index: 111;
	width: 354px;
	min-height: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	line-height: 36px;
	color: #606972;
	text-align: center;
	font-size: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 557px;
	margin-top: 22px;
	position: relative;
	-pie-background: rgba(0,0,0,0.01);
}

#u331-4:hover
{
	background-color: #F7F7F7;
	background-color: rgba(0,0,0,0.03);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 35px;
	width: 354px;
	margin: 22px 0px 0px;
	-pie-background: rgba(0,0,0,0.03);
}

#u334-bw
{
	z-index: 55;
	min-height: 522.5499999999993px;
}

#u2513
{
	z-index: 163;
	width: 376px;
	background-color: transparent;
	-webkit-transform: matrix(0.9703,-0.2419,0.2419,0.9703,-37,51);
	-ms-transform: matrix(0.9703,-0.2419,0.2419,0.9703,-37,51);
	transform: matrix(0.9703,-0.2419,0.2419,0.9703,-37,51);
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 37px;
}

#pu3083
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u3083
{
	z-index: 178;
	min-height: 218px;
	border-style: none;
	border-color: transparent;
	background-color: #046380;
}

#u3083_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 3px;
	padding-bottom: 13px;
}

#pu3084-4
{
	width: 0.01px;
	left: 189px;
	position: relative;
}

#u3084-4
{
	z-index: 179;
	width: 136px;
	min-height: 27px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u3106-4
{
	z-index: 193;
	width: 122px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 321px;
	-pie-background: rgba(0,0,0,0.01);
}

#u3106-4:hover
{
	background-color: #F7F7F7;
	background-color: rgba(0,0,0,0.03);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 122px;
	margin: 123px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.03);
}

#u3091
{
	z-index: 183;
	display: block;
	vertical-align: top;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 730px;
}

#u3142
{
	z-index: 197;
	width: 960px;
	background-color: transparent;
	left: 89px;
	margin-top: 19px;
	position: relative;
}

#u3083-bw
{
	z-index: 178;
	min-height: 218px;
}

#u3097-4
{
	z-index: 185;
	width: 730px;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 195px;
}

#u3105-4
{
	z-index: 189;
	width: 280px;
	min-height: 35px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 440px;
}

#pu1029
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u1029
{
	z-index: 39;
	min-height: 60px;
	padding-bottom: 51px;
}

#u172_align_to_page,#u1029_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1030-4
{
	z-index: 40;
	width: 338px;
	min-height: 49px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 411px;
}

#u1029-bw
{
	z-index: 39;
	min-height: 60px;
}

#u1031
{
	z-index: 44;
	width: 135px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 513px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

