.version.meat /* version checker */
{
	color: #000003;
	background-color: #CACCD4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 2516px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 58px;
	width: 0.01px;
}

#pu3251-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u3251-3,#u3251-3-bw
{
	z-index: 2;
	min-height: 50px;
}

#menuu560
{
	z-index: 5;
	width: 1036px;
	margin-right: -10000px;
	left: 112px;
}

#u589
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
}

#u590
{
	width: 207px;
	padding-bottom: 28px;
}

#u591-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u596
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
	left: 207px;
}

#u599
{
	width: 207px;
	padding-bottom: 28px;
}

#u602-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u561
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
	left: 414px;
}

#u562
{
	width: 207px;
	padding-bottom: 28px;
}

#u564-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u568
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
	left: 621px;
}

#u569
{
	width: 207px;
	padding-bottom: 28px;
}

#u590.MuseMenuActive,#u599.MuseMenuActive,#u562.MuseMenuActive,#u569.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

#u572-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u590.MuseMenuActive #u591-4,#u599.MuseMenuActive #u602-4,#u562.MuseMenuActive #u564-4,#u569.MuseMenuActive #u572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 207px;
	margin: 0px -10000px 0px 0px;
}

#u582
{
	width: 208px;
	min-height: 50px;
	margin-right: -10000px;
	left: 828px;
}

#u583
{
	width: 208px;
	padding-bottom: 28px;
}

#u583.MuseMenuActive
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u586-4
{
	width: 208px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u583.MuseMenuActive #u586-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 208px;
	margin: 0px -10000px 0px 0px;
}

#u2947
{
	z-index: 157;
	min-height: 211px;
	border-color: #EDE8E0;
	background-color: #EDE8E0;
}

#u2947_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1060px;
	position: relative;
	left: -100px;
	padding-top: 22px;
	padding-bottom: 25px;
	margin-bottom: -5px;
}

#u2948-4
{
	z-index: 158;
	width: 637px;
	min-height: 25px;
	background-color: transparent;
	border-radius: 20px;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 253px;
	position: relative;
}

#pu2953
{
	width: 0.01px;
	left: 232px;
	margin-top: 15px;
	position: relative;
}

#u2953
{
	z-index: 166;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2954
{
	z-index: 167;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u2955
{
	z-index: 168;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 5px;
}

#u2969
{
	z-index: 182;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u2972
{
	z-index: 183;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u2970
{
	z-index: 184;
	width: 65px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 11px;
}

#u2949
{
	z-index: 162;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u2952
{
	z-index: 163;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u2950
{
	z-index: 164;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 4px;
}

#u2957
{
	z-index: 170;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 362px;
}

#u2960
{
	z-index: 171;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2958
{
	z-index: 172;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 3px;
}

#u2965
{
	z-index: 178;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 485px;
}

#u2966
{
	z-index: 179;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u2967
{
	z-index: 180;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: -3px;
}

#u2961
{
	z-index: 174;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u2964
{
	z-index: 175;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u2962
{
	z-index: 176;
	width: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 2px;
}

#u2947-bw
{
	z-index: 157;
	min-height: 211px;
	margin-top: -5px;
}

#u2093-4
{
	z-index: 45;
	min-height: 46px;
	background-color: transparent;
	line-height: 60px;
	text-align: center;
	font-size: 50px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u2093-4-bw
{
	z-index: 45;
	min-height: 46px;
	margin-top: 7px;
}

#ppu2063
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 21px;
}

#pu2063
{
	z-index: 49;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#pu2105-6
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 18px;
}

#u2105-6
{
	z-index: 50;
	width: 300px;
	min-height: 266px;
	background-color: transparent;
	line-height: 19px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2305
{
	z-index: 148;
	width: 478px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 429px;
}

#u2045
{
	z-index: 38;
	width: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 378px;
	left: 16px;
}

#u2046
{
	z-index: 39;
	width: 2px;
	height: 420px;
	border-color: #000000;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u2049
{
	z-index: 40;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u2050
{
	z-index: 41;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u2048
{
	z-index: 42;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
}

#u2047
{
	z-index: 43;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 1px;
}

#u2051
{
	z-index: 44;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 1px;
}

#ppu2415
{
	width: 0.01px;
	margin-left: -36px;
	margin-top: 31px;
}

#pu2415
{
	z-index: 150;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	margin-left: 638px;
}

#u2063,#u2415
{
	z-index: 0;
	width: 348px;
	border-color: #000000;
	background-color: #D0601C;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2416-6
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 25px;
}

#u2416-6
{
	z-index: 151;
	width: 300px;
	min-height: 363px;
	background-color: transparent;
	line-height: 19px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2105-2,#u2105-4,#u2416-2,#u2416-4
{
	font-size: 16px;
	color: #000000;
	font-family: open-sans, sans-serif;
}

#u2422
{
	z-index: 36;
	width: 628px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2422:hover
{
	width: 628px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3015
{
	z-index: 186;
	width: 105px;
	height: 53px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 359px;
}

#u3015:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 104px;
	height: 52px;
	min-height: 0px;
	margin: 65px -10001px -1px 0px;
}

#u3016
{
	z-index: 187;
	width: 105px;
	height: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 354px;
}

#u3016:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 104px;
	height: 19px;
	min-height: 0px;
	margin: 150px -10001px -1px 0px;
}

#u3017
{
	z-index: 188;
	width: 111px;
	height: 60px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 216px;
}

#u3017:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 110px;
	height: 59px;
	min-height: 0px;
	margin: 106px -10001px -1px 0px;
}

#u3018
{
	z-index: 189;
	width: 105px;
	height: 19px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 354px;
}

#u3018:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 104px;
	height: 18px;
	min-height: 0px;
	margin: 172px -10001px -1px 0px;
}

#u3019
{
	z-index: 190;
	width: 97px;
	height: 60px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 242px;
}

#u3019:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 96px;
	height: 59px;
	min-height: 0px;
	margin: 185px -10001px -1px 0px;
}

#u3020
{
	z-index: 191;
	width: 63px;
	height: 52px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 343px;
}

#u3020:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 62px;
	height: 51px;
	min-height: 0px;
	margin: 230px -10001px -1px 0px;
}

#u3021
{
	z-index: 192;
	width: 87px;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 307px;
	left: 196px;
}

#u3021:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 86px;
	height: 29px;
	min-height: 0px;
	margin: 307px -10001px -1px 0px;
}

#u2061-4
{
	z-index: 115;
	width: 337px;
	min-height: 46px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 72px;
	position: relative;
}

#pu2079
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 45px;
}

#u2079
{
	z-index: 114;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u2112-4
{
	z-index: 122;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u2080
{
	z-index: 120;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u2118-4
{
	z-index: 130;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#pu2064
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 50px;
}

#u2064
{
	z-index: 119;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u2044-4
{
	z-index: 126;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u2066
{
	z-index: 121;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u2056-4
{
	z-index: 134;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 610px;
}

#pu2114
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 49px;
}

#u2114
{
	z-index: 138;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u2075-4
{
	z-index: 140;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u2108
{
	z-index: 139;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u2053-4
{
	z-index: 144;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 610px;
}

#u2112-2,#u2118-2,#u2044-2,#u2056-2,#u2075-2,#u2053-2
{
	font-size: 18px;
	color: #000000;
	font-family: open-sans, sans-serif;
}

#u2103-4
{
	z-index: 56;
	width: 592px;
	min-height: 46px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 66px;
	position: relative;
}

#ppu2110
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 45px;
}

#pu2110
{
	z-index: 60;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2110
{
	z-index: 0;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 1px #000000;
	border-color: #000000;
	background-color: #468966;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2062-4
{
	width: 0.01px;
	position: relative;
	left: 49px;
	padding-top: 30px;
	z-index: 2;
	padding-bottom: 23px;
}

#u2062-4
{
	z-index: 66;
	width: 441px;
	min-height: 57px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2099
{
	z-index: 70;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2058-4
{
	z-index: 71;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 55px;
}

#u2109-4
{
	z-index: 76;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 212px;
}

#u2094-4
{
	z-index: 81;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 385px;
}

#u2057
{
	z-index: 85;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u2085-4
{
	z-index: 86;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 560px;
}

#u2097-4
{
	z-index: 90;
	width: 441px;
	min-height: 57px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 61px;
	position: relative;
}

#pu2099,#pu2052
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 27px;
}

#u2052
{
	z-index: 94;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2106-4
{
	z-index: 95;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 52px;
}

#u2069-4
{
	z-index: 100;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 212px;
}

#u2087-4
{
	z-index: 105;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 385px;
}

#u2115
{
	z-index: 109;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u2076-4
{
	z-index: 110;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 560px;
}

#u2098
{
	z-index: 61;
	width: 336px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding-bottom: 11px;
	margin-left: 423px;
	margin-top: 48px;
	position: relative;
}

#u2098:hover
{
	-pie-box-shadow: 6px 6px 1px #000000;
	box-shadow: 6px 6px 1px #000000;
	width: 336px;
	min-height: 0px;
	margin: 48px 0px 0px 423px;
}

#u2088-4
{
	z-index: 62;
	width: 299px;
	min-height: 39px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 19px;
}

#u2119
{
	z-index: 75;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 222px;
}

#u2107
{
	z-index: 80;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 395px;
}

#u2084
{
	z-index: 99;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 222px;
}

#u2101
{
	z-index: 104;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 395px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
}

