.version.poultry /* version checker */
{
	color: #0000FE;
	background-color: #7B68A3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 2438px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 80px;
	width: 0.01px;
}

#pu3251-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u3251-3,#u3251-3-bw
{
	z-index: 2;
	min-height: 50px;
}

#menuu560
{
	z-index: 5;
	width: 1036px;
	margin-right: -10000px;
	left: 112px;
}

#u589
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
}

#u590
{
	width: 207px;
	padding-bottom: 28px;
}

#u591-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u596
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
	left: 207px;
}

#u599
{
	width: 207px;
	padding-bottom: 28px;
}

#u602-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u561
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
	left: 414px;
}

#u562
{
	width: 207px;
	padding-bottom: 28px;
}

#u564-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u568
{
	width: 207px;
	min-height: 50px;
	margin-right: -10000px;
	left: 621px;
}

#u569
{
	width: 207px;
	padding-bottom: 28px;
}

#u590.MuseMenuActive,#u599.MuseMenuActive,#u562.MuseMenuActive,#u569.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

#u572-4
{
	width: 207px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u590.MuseMenuActive #u591-4,#u599.MuseMenuActive #u602-4,#u562.MuseMenuActive #u564-4,#u569.MuseMenuActive #u572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 207px;
	margin: 0px -10000px 0px 0px;
}

#u582
{
	width: 208px;
	min-height: 50px;
	margin-right: -10000px;
	left: 828px;
}

#u583
{
	width: 208px;
	padding-bottom: 28px;
}

#u583.MuseMenuActive
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u586-4
{
	width: 208px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u583.MuseMenuActive #u586-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 208px;
	margin: 0px -10000px 0px 0px;
}

#u2851
{
	z-index: 163;
	min-height: 211px;
	border-color: #EDE8E0;
	background-color: #EDE8E0;
}

#u2851_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1060px;
	position: relative;
	left: -100px;
	padding-top: 22px;
	padding-bottom: 25px;
	margin-bottom: -5px;
}

#u2852-4
{
	z-index: 164;
	width: 637px;
	min-height: 25px;
	background-color: transparent;
	border-radius: 20px;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 253px;
	position: relative;
}

#pu2857
{
	width: 0.01px;
	left: 232px;
	margin-top: 15px;
	position: relative;
}

#u2857
{
	z-index: 172;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2858
{
	z-index: 173;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u2859
{
	z-index: 174;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 5px;
}

#u2873
{
	z-index: 188;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u2876
{
	z-index: 189;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u2874
{
	z-index: 190;
	width: 65px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 11px;
}

#u2853
{
	z-index: 168;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u2856
{
	z-index: 169;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u2854
{
	z-index: 170;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 4px;
}

#u2861
{
	z-index: 176;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 362px;
}

#u2864
{
	z-index: 177;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2862
{
	z-index: 178;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 3px;
}

#u2869
{
	z-index: 184;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 485px;
}

#u2870
{
	z-index: 185;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u2871
{
	z-index: 186;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: -3px;
}

#u2865
{
	z-index: 180;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u2868
{
	z-index: 181;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u2866
{
	z-index: 182;
	width: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 2px;
}

#u2851-bw
{
	z-index: 163;
	min-height: 211px;
	margin-top: -5px;
}

#u1650-4
{
	z-index: 45;
	width: 190px;
	min-height: 46px;
	background-color: transparent;
	line-height: 60px;
	font-size: 50px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 390px;
	margin-top: 7px;
	position: relative;
}

#ppu1657
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 27px;
}

#pu1657
{
	z-index: 49;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u1657
{
	z-index: 0;
	width: 348px;
	border-color: #000000;
	background-color: #F4A84E;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1673-6
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 18px;
}

#u1673-6
{
	z-index: 50;
	width: 300px;
	min-height: 266px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1733
{
	z-index: 155;
	width: 323px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 467px;
}

#u1662
{
	z-index: 38;
	width: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 378px;
	left: 16px;
}

#u1666
{
	z-index: 39;
	width: 2px;
	height: 420px;
	border-color: #000000;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u1664
{
	z-index: 40;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u1665
{
	z-index: 41;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u1663
{
	z-index: 42;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
}

#u1667
{
	z-index: 43;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 1px;
}

#u1668
{
	z-index: 44;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 1px;
}

#ppu1652
{
	width: 0.01px;
	margin-left: -35px;
	margin-top: 30px;
}

#pu1652
{
	z-index: 56;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 616px;
}

#u1652
{
	z-index: 0;
	width: 367px;
	border-color: #000000;
	background-color: #F4A84E;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	border-radius: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1676-6
{
	width: 0.01px;
	position: relative;
	left: 20px;
	padding-top: 19px;
	z-index: 2;
	padding-bottom: 71px;
}

#u1676-6
{
	z-index: 57;
	width: 327px;
	min-height: 292px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2441
{
	z-index: 36;
	width: 598px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2436
{
	z-index: 157;
	width: 169px;
	height: 79px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 39px;
}

#u2436:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 168px;
	height: 78px;
	min-height: 0px;
	margin: 147px -10001px -1px 0px;
}

#u2438
{
	z-index: 158;
	width: 136px;
	height: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 428px;
}

#u2438:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 135px;
	height: 19px;
	min-height: 0px;
	margin: 308px -10001px -1px 0px;
}

#u2439
{
	z-index: 159;
	width: 140px;
	height: 21px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 426px;
}

#u2439:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 139px;
	height: 20px;
	min-height: 0px;
	margin: 337px -10001px -1px 0px;
}

#u2440
{
	z-index: 160;
	width: 115px;
	height: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 390px;
}

#u2440:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 114px;
	height: 15px;
	min-height: 0px;
	margin: 28px -10001px -1px 0px;
}

#u2447
{
	z-index: 161;
	width: 78px;
	height: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 299px;
}

#u2447:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 77px;
	height: 15px;
	min-height: 0px;
	margin: 28px -10001px -1px 0px;
}

#u2448
{
	z-index: 162;
	width: 85px;
	height: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: #44B8E9;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 200px;
}

#u2448:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.5),0px 0px 12px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	width: 84px;
	height: 15px;
	min-height: 0px;
	margin: 28px -10001px -1px 0px;
}

#u1653-4
{
	z-index: 122;
	width: 337px;
	min-height: 46px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 27px;
	position: relative;
}

#pu1643
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 45px;
}

#u1643
{
	z-index: 121;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u1693-4
{
	z-index: 129;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u1678
{
	z-index: 127;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u1632-4
{
	z-index: 137;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#pu1661
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 50px;
}

#u1661
{
	z-index: 126;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u1699-4
{
	z-index: 133;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1686
{
	z-index: 128;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u1640-4
{
	z-index: 141;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 610px;
}

#pu1674
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 49px;
}

#u1674
{
	z-index: 145;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u1637-4
{
	z-index: 147;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1654
{
	z-index: 146;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	box-shadow: -4px 7px 1px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u1698-4
{
	z-index: 151;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 610px;
}

#u1673-2,#u1673-4,#u1676-2,#u1676-4,#u1693-2,#u1632-2,#u1699-2,#u1640-2,#u1637-2,#u1698-2
{
	font-size: 18px;
	color: #000000;
	font-family: open-sans, sans-serif;
}

#u1683-4
{
	z-index: 63;
	width: 592px;
	min-height: 46px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 66px;
	position: relative;
}

#ppu1692
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 45px;
}

#pu1692
{
	z-index: 67;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1692
{
	z-index: 0;
	width: 820px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 1px #000000;
	border-color: #000000;
	background-color: #468966;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1639-4
{
	width: 0.01px;
	position: relative;
	left: 49px;
	padding-top: 30px;
	z-index: 2;
	padding-bottom: 23px;
}

#u1639-4
{
	z-index: 73;
	width: 441px;
	min-height: 57px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1647
{
	z-index: 77;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1656-4
{
	z-index: 78;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 55px;
}

#u1680-4
{
	z-index: 83;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 212px;
}

#u1694-4
{
	z-index: 88;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 385px;
}

#u1623
{
	z-index: 92;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u1635-4
{
	z-index: 93;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 560px;
}

#u1641-4
{
	z-index: 97;
	width: 441px;
	min-height: 57px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 61px;
	position: relative;
}

#pu1647,#pu1651
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 27px;
}

#u1651
{
	z-index: 101;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1658-4
{
	z-index: 102;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 52px;
}

#u1682-4
{
	z-index: 107;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 212px;
}

#u1696-4
{
	z-index: 112;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 385px;
}

#u1630
{
	z-index: 116;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u1638-4
{
	z-index: 117;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 560px;
}

#u1697
{
	z-index: 68;
	width: 336px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding-bottom: 11px;
	margin-left: 423px;
	margin-top: 48px;
	position: relative;
}

#u1697:hover
{
	-pie-box-shadow: 6px 6px 1px #000000;
	box-shadow: 6px 6px 1px #000000;
	width: 336px;
	min-height: 0px;
	margin: 48px 0px 0px 423px;
}

#u1631-4
{
	z-index: 69;
	width: 299px;
	min-height: 39px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 19px;
}

#u1670
{
	z-index: 82;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 222px;
}

#u1687
{
	z-index: 87;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 395px;
}

#u1675
{
	z-index: 106;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 222px;
}

#u1691
{
	z-index: 111;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 395px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
}

