.version.explore_labels /* version checker */
{
	color: #00001C;
	background-color: #7BAADC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2575px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 48px;
}

#u603
{
	z-index: 2;
}

#u603_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu560
{
	z-index: 3;
	width: 1160px;
	margin-right: -10000px;
}

#u589
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
}

#u590
{
	width: 193px;
	padding-bottom: 29px;
}

#u591-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u596
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
	left: 193px;
}

#u599
{
	width: 193px;
	padding-bottom: 29px;
}

#u602-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u561
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
	left: 386px;
}

#u562
{
	width: 193px;
	padding-bottom: 29px;
}

#u564-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u568
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
	left: 579px;
}

#u569
{
	width: 193px;
	padding-bottom: 29px;
}

#u572-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u575
{
	width: 194px;
	min-height: 51px;
	margin-right: -10000px;
	left: 772px;
}

#u578
{
	width: 194px;
	padding-bottom: 29px;
}

#u581-4
{
	width: 194px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u582
{
	width: 194px;
	min-height: 51px;
	margin-right: -10000px;
	left: 966px;
}

#u583
{
	width: 194px;
	padding-bottom: 29px;
}

#u590.MuseMenuActive,#u599.MuseMenuActive,#u562.MuseMenuActive,#u569.MuseMenuActive,#u578.MuseMenuActive,#u583.MuseMenuActive
{
	margin: 0px;
}

#u586-4
{
	width: 194px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u590.MuseMenuActive #u591-4,#u599.MuseMenuActive #u602-4,#u562.MuseMenuActive #u564-4,#u569.MuseMenuActive #u572-4,#u578.MuseMenuActive #u581-4,#u583.MuseMenuActive #u586-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u603-bw
{
	z-index: 2;
	height: 51px;
}

#u780
{
	z-index: 40;
	border-color: #EDE8E0;
	background-color: #EDE8E0;
	padding-bottom: 1px;
}

#u780_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 42px;
	padding-bottom: 27px;
	margin-bottom: -1px;
}

#u722-4
{
	z-index: 63;
	width: 637px;
	min-height: 25px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #000000;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 253px;
	position: relative;
}

#pu768
{
	width: 0.01px;
	left: 210px;
	margin-top: 30px;
	position: relative;
}

#u768
{
	z-index: 166;
	width: 89px;
	height: 91px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u772
{
	z-index: 167;
	width: 89px;
	height: 91px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u773
{
	z-index: 168;
	width: 89px;
	height: 91px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u774
{
	z-index: 169;
	width: 89px;
	height: 91px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 376px;
}

#u775
{
	z-index: 170;
	width: 89px;
	height: 91px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 500px;
}

#u776
{
	z-index: 171;
	width: 89px;
	height: 91px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 626px;
}

#u780-bw
{
	z-index: 40;
	margin-top: -1px;
	height: 252px;
}

#u683
{
	z-index: 41;
	width: 22px;
	position: fixed;
	top: 327px;
	left: 16px;
}

#u685
{
	z-index: 42;
	width: 2px;
	height: 420px;
	border-color: #000000;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u684
{
	z-index: 43;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u689
{
	z-index: 44;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u688
{
	z-index: 45;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
}

#u687
{
	z-index: 46;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 1px;
}

#u686
{
	z-index: 47;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 1px;
}

#u703-4
{
	z-index: 48;
	width: 166px;
	min-height: 46px;
	line-height: 72px;
	font-size: 60px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 397px;
	margin-top: 57px;
	position: relative;
}

#pu704
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 22px;
}

#u704
{
	z-index: 52;
	width: 437px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#pu710
{
	z-index: 54;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 516px;
}

#u710
{
	z-index: 0;
	width: 348px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u710.f3s_top
{
	background-image: url("../images/u710-sprite.png");
	width: 348px;
	overflow: hidden;
	height: 11px;
	background-position: left top;
}

._u710.f3s_mid
{
	background-image: url("../images/u710-sprite.png");
	overflow: visible;
	background-position: -348px top;
	width: 348px;
	height: 331px;
}

._u710.f3s_bot
{
	background-image: url("../images/u710-sprite.png");
	width: 348px;
	overflow: visible;
	height: 10px;
	background-position: -696px top;
}

#pu711-6
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 19px;
}

#u711-6
{
	z-index: 55;
	width: 300px;
	min-height: 313px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u734-4
{
	z-index: 85;
	width: 285px;
	min-height: 46px;
	line-height: 36px;
	font-size: 30px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 37px;
	position: relative;
}

#pu730
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 45px;
}

#u730
{
	z-index: 84;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u738-4
{
	z-index: 92;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u736
{
	z-index: 90;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u740-4
{
	z-index: 100;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#pu735
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 49px;
}

#u735
{
	z-index: 89;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u739-4
{
	z-index: 96;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u737
{
	z-index: 91;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u741-4
{
	z-index: 104;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 610px;
}

#pu715
{
	width: 0.01px;
	margin-left: 90px;
	margin-top: 35px;
}

#u715
{
	z-index: 61;
	width: 780px;
	position: relative;
	margin-right: -10000px;
}

#u715_clip
{
	overflow: hidden;
	width: 780px;
	height: 303px;
}

#u715_img
{
	margin-right: -15px;
	margin-bottom: -3px;
}

#u723
{
	z-index: 67;
	width: 148px;
	height: 46px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 200px;
}

#u723:hover
{
	background-color: #046380;
	margin: 152px -10000px 0px 0px;
}

#u724
{
	z-index: 68;
	width: 169px;
	height: 109px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 430px;
}

#u724:hover
{
	background-color: #046380;
	margin: 83px -10000px 0px 0px;
}

#u725
{
	z-index: 69;
	width: 70px;
	height: 46px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 640px;
}

#u726
{
	z-index: 70;
	width: 160px;
	height: 55px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 60px;
}

#u725:hover,#u726:hover
{
	background-color: #046380;
	margin: 205px -10000px 0px 0px;
}

#pu727
{
	width: 0.01px;
	margin-left: 129px;
	margin-top: 39px;
}

#u727
{
	z-index: 71;
	width: 719px;
	height: 310px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#u728-6
{
	z-index: 72;
	width: 300px;
	min-height: 292px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 31px;
}

#u729-6
{
	z-index: 78;
	width: 327px;
	min-height: 292px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 374px;
}

#u711-2,#u711-4,#u738-2,#u740-2,#u739-2,#u741-2,#u728-2,#u728-4,#u729-2,#u729-4
{
	font-size: 18px;
	color: #000000;
	font-family: open-sans, sans-serif;
}

#u742-4
{
	z-index: 108;
	width: 592px;
	min-height: 46px;
	line-height: 58px;
	font-size: 48px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 46px;
	position: relative;
}

#ppu743
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 45px;
}

#pu743
{
	z-index: 112;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u743
{
	z-index: 0;
	width: 820px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 1px #000000;
	-webkit-box-shadow: 6px 6px 1px -1px #000000;
	box-shadow: 6px 6px 1px #000000;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u743.f3s_top
{
	background-image: url("../images/u743-sprite.png");
	width: 820px;
	overflow: hidden;
	height: 21px;
	background-position: left top;
}

._u743.f3s_mid
{
	background-image: url("../images/u743-sprite.png");
	overflow: visible;
	background-position: -820px top;
	width: 820px;
	height: 423px;
}

._u743.f3s_bot
{
	background-image: url("../images/u743-sprite.png");
	width: 820px;
	overflow: visible;
	height: 20px;
	background-position: -1640px top;
}

#pu746-4
{
	width: 0.01px;
	position: relative;
	left: 49px;
	padding-top: 30px;
	z-index: 2;
	padding-bottom: 23px;
}

#u746-4
{
	z-index: 118;
	width: 441px;
	min-height: 57px;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u747
{
	z-index: 122;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u748-4
{
	z-index: 123;
	width: 120px;
	min-height: 23px;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 55px;
}

#u750-4
{
	z-index: 128;
	width: 120px;
	min-height: 23px;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 212px;
}

#u752-4
{
	z-index: 133;
	width: 120px;
	min-height: 23px;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 385px;
}

#u757
{
	z-index: 137;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u758-4
{
	z-index: 138;
	width: 120px;
	min-height: 23px;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 560px;
}

#u759-4
{
	z-index: 142;
	width: 441px;
	min-height: 57px;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 61px;
	position: relative;
}

#pu747,#pu760
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 27px;
}

#u760
{
	z-index: 146;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u761-4
{
	z-index: 147;
	width: 120px;
	min-height: 23px;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 52px;
}

#u763-4
{
	z-index: 152;
	width: 120px;
	min-height: 23px;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 212px;
}

#u765-4
{
	z-index: 157;
	width: 120px;
	min-height: 23px;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 385px;
}

#u766
{
	z-index: 161;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u767-4
{
	z-index: 162;
	width: 120px;
	min-height: 23px;
	line-height: 24px;
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 560px;
}

#u744
{
	z-index: 113;
	width: 336px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 11px;
	margin-left: 423px;
	margin-top: 48px;
	position: relative;
}

#u744:hover
{
	-pie-box-shadow: 6px 6px 1px #000000;
	-moz-box-shadow: 6px 6px 1px #000000;
	-webkit-box-shadow: 6px 6px 1px -1px #000000;
	box-shadow: 6px 6px 1px #000000;
	margin: 48px 0px 0px 423px;
}

#u745-4
{
	z-index: 114;
	width: 299px;
	min-height: 39px;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 19px;
}

#u749
{
	z-index: 127;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 222px;
}

#u751
{
	z-index: 132;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 395px;
}

#u762
{
	z-index: 151;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 222px;
}

#u764
{
	z-index: 156;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 395px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

