.version.basics /* version checker */
{
	color: #0000FE;
	background-color: #9BC191;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 700px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u603
{
	z-index: 2;
}

#u603_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu560
{
	z-index: 3;
	width: 1160px;
	margin-right: -10000px;
}

#u589
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
}

#u590
{
	width: 193px;
	padding-bottom: 29px;
}

#u591-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u596
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
	left: 193px;
}

#u599
{
	width: 193px;
	padding-bottom: 29px;
}

#u602-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u561
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
	left: 386px;
}

#u562
{
	width: 193px;
	padding-bottom: 29px;
}

#u564-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u568
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
	left: 579px;
}

#u569
{
	width: 193px;
	padding-bottom: 29px;
}

#u572-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u575
{
	width: 194px;
	min-height: 51px;
	margin-right: -10000px;
	left: 772px;
}

#u578
{
	width: 194px;
	padding-bottom: 29px;
}

#u581-4
{
	width: 194px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u582
{
	width: 194px;
	min-height: 51px;
	margin-right: -10000px;
	left: 966px;
}

#u583
{
	width: 194px;
	padding-bottom: 29px;
}

#u590.MuseMenuActive,#u599.MuseMenuActive,#u562.MuseMenuActive,#u569.MuseMenuActive,#u578.MuseMenuActive,#u583.MuseMenuActive
{
	margin: 0px;
}

#u586-4
{
	width: 194px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u590.MuseMenuActive #u591-4,#u599.MuseMenuActive #u602-4,#u562.MuseMenuActive #u564-4,#u569.MuseMenuActive #u572-4,#u578.MuseMenuActive #u581-4,#u583.MuseMenuActive #u586-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u603-bw
{
	z-index: 2;
	height: 51px;
}

#u464-4
{
	z-index: 43;
	width: 839px;
	min-height: 86px;
	background-color: transparent;
	line-height: 86px;
	font-size: 72px;
	text-align: left;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 21px;
	margin-top: 33px;
	position: relative;
}

#pu447-3
{
	width: 0.01px;
	margin-left: -260px;
	margin-top: 20px;
}

#u447-3
{
	z-index: 40;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
}

#u654
{
	z-index: 51;
	width: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u465
{
	z-index: 52;
	width: 2px;
	height: 420px;
	border-color: #000000;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u466
{
	z-index: 53;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u467
{
	z-index: 54;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u468
{
	z-index: 55;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
}

#u469
{
	z-index: 56;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 1px;
}

#u470
{
	z-index: 57;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 1px;
}

#pu471-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 293px;
}

#u471-4
{
	z-index: 47;
	width: 388px;
	min-height: 46px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	position: relative;
}

#u472-4
{
	z-index: 58;
	width: 445px;
	min-height: 71px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-top: 45px;
	position: relative;
}

#u473-4
{
	z-index: 62;
	width: 445px;
	min-height: 40px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-top: 45px;
	position: relative;
}

#u474-4
{
	z-index: 66;
	width: 445px;
	min-height: 71px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-top: 42px;
	position: relative;
}

#u605-4
{
	z-index: 70;
	width: 388px;
	min-height: 46px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 9px;
	margin-top: 60px;
	position: relative;
}

#u606-7
{
	z-index: 74;
	width: 734px;
	min-height: 144px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 73px;
	margin-top: 35px;
	position: relative;
}

#pu607
{
	width: 0.01px;
	margin-left: 106px;
}

#u607
{
	z-index: 81;
	width: 394px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u612
{
	z-index: 83;
	width: 423px;
	border-color: #000000;
	background-color: #545454;
	-moz-border-radius: 20px 20px 0px 20px ;
	-webkit-border-radius: 20px 20px 0px 20px ;
	-khtml-border-radius: 20px 20px 0px 20px ;
	border-radius: 20px 20px 0px 20px ;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 421px;
}

#u613-4
{
	z-index: 84;
	width: 378px;
	min-height: 116px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 23px;
}

#u614-4
{
	z-index: 88;
	width: 547px;
	min-height: 46px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 9px;
	margin-top: 45px;
	position: relative;
}

#pu615-7
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 48px;
}

#u615-7
{
	z-index: 92;
	width: 734px;
	min-height: 144px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 13px;
}

#u615-2
{
	font-weight: 400;
}

#u615-3
{
	font-weight: 300;
}

#u616
{
	z-index: 99;
	width: 127px;
	height: 128px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u619
{
	z-index: 104;
	width: 127px;
	height: 128px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 207px;
}

#u620
{
	z-index: 105;
	width: 127px;
	height: 128px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 413px;
}

#u621
{
	z-index: 106;
	width: 127px;
	height: 128px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 619px;
}

#u623-4
{
	z-index: 107;
	width: 740px;
	min-height: 102px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 70px;
	margin-top: 69px;
	position: relative;
}

#pu624-3
{
	width: 0.01px;
	margin-left: -200px;
	margin-top: 6px;
}

#u624-3
{
	z-index: 111;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
}

#u637
{
	z-index: 100;
	width: 127px;
	height: 128px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 366px;
}

#u638
{
	z-index: 102;
	width: 127px;
	height: 128px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 787px;
}

#pu629-5
{
	width: 0.01px;
	margin-left: 86px;
	margin-top: 62px;
}

#u629-5
{
	z-index: 114;
	width: 300px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u632-5
{
	z-index: 139;
	width: 300px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#pu640
{
	width: 0.01px;
	margin-left: 166px;
	margin-top: 26px;
}

#u640
{
	z-index: 101;
	width: 127px;
	height: 128px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u641
{
	z-index: 103;
	width: 127px;
	height: 128px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#pu636-5
{
	width: 0.01px;
	margin-left: 86px;
	margin-top: 56px;
}

#u636-5
{
	z-index: 119;
	width: 300px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u635-5
{
	z-index: 144;
	width: 300px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u642-4
{
	z-index: 149;
	width: 531px;
	min-height: 46px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 12px;
	margin-top: 26px;
	position: relative;
}

#u643-7
{
	z-index: 157;
	width: 734px;
	min-height: 144px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 76px;
	margin-top: 54px;
	position: relative;
}

#u647-4
{
	z-index: 153;
	width: 531px;
	min-height: 46px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 214px;
	margin-top: 32px;
	position: relative;
}

#pu644
{
	width: 0.01px;
	margin-left: 165px;
	margin-top: 20px;
}

#u644
{
	z-index: 164;
	width: 344px;
	height: 346px;
	border-style: none;
	border-color: transparent;
	background-color: #B64926;
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
}

#u645
{
	z-index: 165;
	width: 344px;
	height: 346px;
	border-style: none;
	border-color: transparent;
	background-color: #FFB03B;
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#pu650-5
{
	width: 0.01px;
	margin-left: -23px;
	margin-top: 87px;
}

#u650-5
{
	z-index: 134;
	width: 300px;
	min-height: 230px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u649-5
{
	z-index: 124;
	width: 300px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u651-5
{
	z-index: 129;
	width: 300px;
	min-height: 220px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 691px;
}

#u629-2,#u629-3,#u632-2,#u632-3,#u636-2,#u636-3,#u635-2,#u635-3,#u650-2,#u650-3,#u649-2,#u649-3,#u651-2,#u651-3
{
	font-family: open-sans, sans-serif;
}

#u652-4
{
	z-index: 166;
	width: 640px;
	min-height: 46px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 36px;
	position: relative;
}

#u653-7
{
	z-index: 170;
	width: 817px;
	min-height: 232px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 73px;
	margin-top: 46px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

