.version.explore_labels /* version checker */
{
	color: #00001A;
	background-color: #607D7D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2575px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 48px;
}

#u603
{
	z-index: 2;
}

#u603_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu560
{
	z-index: 3;
	width: 1160px;
	margin-right: -10000px;
}

#u589
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
}

#u590
{
	width: 193px;
	padding-bottom: 29px;
}

#u591-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u596
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
	left: 193px;
}

#u599
{
	width: 193px;
	padding-bottom: 29px;
}

#u602-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u561
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
	left: 386px;
}

#u562
{
	width: 193px;
	padding-bottom: 29px;
}

#u564-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u568
{
	width: 193px;
	min-height: 51px;
	margin-right: -10000px;
	left: 579px;
}

#u569
{
	width: 193px;
	padding-bottom: 29px;
}

#u572-4
{
	width: 193px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u575
{
	width: 194px;
	min-height: 51px;
	margin-right: -10000px;
	left: 772px;
}

#u578
{
	width: 194px;
	padding-bottom: 29px;
}

#u581-4
{
	width: 194px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u582
{
	width: 194px;
	min-height: 51px;
	margin-right: -10000px;
	left: 966px;
}

#u583
{
	width: 194px;
	padding-bottom: 29px;
}

#u590.MuseMenuActive,#u599.MuseMenuActive,#u562.MuseMenuActive,#u569.MuseMenuActive,#u578.MuseMenuActive,#u583.MuseMenuActive
{
	margin: 0px;
}

#u586-4
{
	width: 194px;
	min-height: 22px;
	margin-right: -10000px;
	top: 14px;
}

#u590.MuseMenuActive #u591-4,#u599.MuseMenuActive #u602-4,#u562.MuseMenuActive #u564-4,#u569.MuseMenuActive #u572-4,#u578.MuseMenuActive #u581-4,#u583.MuseMenuActive #u586-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u603-bw
{
	z-index: 2;
	height: 51px;
}

#u780
{
	z-index: 42;
	border-color: #EDE8E0;
	background-color: #EDE8E0;
	padding-bottom: 1px;
}

#u780_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 42px;
	padding-bottom: 27px;
	margin-bottom: -1px;
}

#u722-4
{
	z-index: 61;
	width: 637px;
	min-height: 25px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	line-height: 29px;
	color: #000000;
	font-size: 24px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 253px;
	position: relative;
}

#pu768
{
	width: 0.01px;
	left: 210px;
	margin-top: 30px;
	position: relative;
}

#u768
{
	z-index: 140;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u875
{
	z-index: 146;
	width: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 4px;
}

#u772
{
	z-index: 141;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u881
{
	z-index: 148;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 3px;
}

#u773
{
	z-index: 142;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u887
{
	z-index: 150;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 5px;
}

#u774
{
	z-index: 143;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 376px;
}

#u893
{
	z-index: 152;
	width: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 2px;
}

#u775
{
	z-index: 144;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 500px;
}

#u899
{
	z-index: 154;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: -3px;
}

#u776
{
	z-index: 145;
	width: 89px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 626px;
}

#u905
{
	z-index: 156;
	width: 121px;
	background-color: transparent;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: -22px;
}

#u780-bw
{
	z-index: 42;
	margin-top: -1px;
	height: 252px;
}

#u683
{
	z-index: 43;
	width: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 327px;
	left: 16px;
}

#u685
{
	z-index: 44;
	width: 2px;
	height: 420px;
	border-color: #000000;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u684
{
	z-index: 45;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u689
{
	z-index: 46;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
}

#u688
{
	z-index: 47;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
}

#u687
{
	z-index: 48;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: 1px;
}

#u686
{
	z-index: 49;
	width: 21px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 1px;
}

#u703-4
{
	z-index: 50;
	width: 166px;
	min-height: 46px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 397px;
	margin-top: 57px;
	position: relative;
}

#pu966
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 22px;
}

#u966
{
	z-index: 158;
	width: 464px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#pu710
{
	z-index: 54;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 530px;
}

#u710
{
	z-index: 0;
	width: 348px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u710.f3s_top
{
	background-image: url("../images/u710-sprite.png");
	width: 348px;
	overflow: hidden;
	height: 11px;
	background-position: left top;
}

._u710.f3s_mid
{
	background-image: url("../images/u710-sprite.png");
	overflow: visible;
	background-position: -348px top;
	width: 348px;
	height: 331px;
}

._u710.f3s_bot
{
	background-image: url("../images/u710-sprite.png");
	width: 348px;
	overflow: visible;
	height: 10px;
	background-position: -696px top;
}

#pu711-6
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 19px;
}

#u711-6
{
	z-index: 55;
	width: 300px;
	min-height: 313px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#pu978
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 39px;
}

#u978
{
	z-index: 40;
	width: 878px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u723
{
	z-index: 65;
	width: 220px;
	height: 46px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 119px;
}

#u723:hover
{
	background-color: #046380;
	margin: 156px -10000px 0px 0px;
}

#u724
{
	z-index: 66;
	width: 152px;
	height: 49px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 529px;
}

#u724:hover
{
	background-color: #046380;
	margin: 62px -10000px 0px 0px;
}

#u725
{
	z-index: 67;
	width: 170px;
	height: 52px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 514px;
}

#u725:hover
{
	background-color: #046380;
	margin: 140px -10000px 0px 0px;
}

#u726
{
	z-index: 68;
	width: 267px;
	height: 69px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 106px;
}

#u726:hover
{
	background-color: #046380;
	margin: 52px -10000px 0px 0px;
}

#pu727
{
	width: 0.01px;
	margin-left: 118px;
	margin-top: 31px;
}

#u727
{
	z-index: 69;
	width: 719px;
	height: 310px;
	border-color: #000000;
	background-color: #606972;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#u728-6
{
	z-index: 70;
	width: 300px;
	min-height: 292px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 31px;
}

#u729-6
{
	z-index: 76;
	width: 327px;
	min-height: 292px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 374px;
}

#u985-4
{
	z-index: 161;
	width: 285px;
	min-height: 46px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 38px;
	position: relative;
}

#pu984
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 45px;
}

#u984
{
	z-index: 160;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u989-4
{
	z-index: 168;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u987
{
	z-index: 166;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u991-4
{
	z-index: 176;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#pu986
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 50px;
}

#u986
{
	z-index: 165;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u990-4
{
	z-index: 172;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u988
{
	z-index: 167;
	width: 100px;
	height: 99px;
	-pie-box-shadow: -4px 7px 1px #7F7F7F;
	-moz-box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -4px 7px 1px -1px rgba(0, 0, 0, 0.5);
	box-shadow: -4px 7px 1px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #468966;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u992-4
{
	z-index: 180;
	width: 300px;
	min-height: 113px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	line-height: 22px;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 610px;
}

#u711-2,#u711-4,#u728-2,#u728-4,#u729-2,#u729-4,#u989-2,#u991-2,#u990-2,#u992-2
{
	font-size: 18px;
	color: #000000;
	font-family: open-sans, sans-serif;
}

#u742-4
{
	z-index: 82;
	width: 592px;
	min-height: 46px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	font-family: arvo, serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 37px;
	position: relative;
}

#ppu743
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 45px;
}

#pu743
{
	z-index: 86;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u743
{
	z-index: 0;
	width: 820px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 1px #000000;
	-webkit-box-shadow: 6px 6px 1px -1px #000000;
	box-shadow: 6px 6px 1px #000000;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u743.f3s_top
{
	background-image: url("../images/u743-sprite.png");
	width: 820px;
	overflow: hidden;
	height: 21px;
	background-position: left top;
}

._u743.f3s_mid
{
	background-image: url("../images/u743-sprite.png");
	overflow: visible;
	background-position: -820px top;
	width: 820px;
	height: 423px;
}

._u743.f3s_bot
{
	background-image: url("../images/u743-sprite.png");
	width: 820px;
	overflow: visible;
	height: 20px;
	background-position: -1640px top;
}

#pu746-4
{
	width: 0.01px;
	position: relative;
	left: 49px;
	padding-top: 30px;
	z-index: 2;
	padding-bottom: 23px;
}

#u746-4
{
	z-index: 92;
	width: 441px;
	min-height: 57px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u747
{
	z-index: 96;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u748-4
{
	z-index: 97;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 55px;
}

#u750-4
{
	z-index: 102;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 212px;
}

#u752-4
{
	z-index: 107;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 385px;
}

#u757
{
	z-index: 111;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u758-4
{
	z-index: 112;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 560px;
}

#u759-4
{
	z-index: 116;
	width: 441px;
	min-height: 57px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 61px;
	position: relative;
}

#pu747,#pu760
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 27px;
}

#u760
{
	z-index: 120;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u761-4
{
	z-index: 121;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 52px;
}

#u763-4
{
	z-index: 126;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 212px;
}

#u765-4
{
	z-index: 131;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 385px;
}

#u766
{
	z-index: 135;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u767-4
{
	z-index: 136;
	width: 120px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 560px;
}

#u744
{
	z-index: 87;
	width: 336px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 11px;
	margin-left: 423px;
	margin-top: 48px;
	position: relative;
}

#u744:hover
{
	-pie-box-shadow: 6px 6px 1px #000000;
	-moz-box-shadow: 6px 6px 1px #000000;
	-webkit-box-shadow: 6px 6px 1px -1px #000000;
	box-shadow: 6px 6px 1px #000000;
	margin: 48px 0px 0px 423px;
}

#u745-4
{
	z-index: 88;
	width: 299px;
	min-height: 39px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 19px;
}

#u749
{
	z-index: 101;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 222px;
}

#u751
{
	z-index: 106;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 395px;
}

#u762
{
	z-index: 125;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 222px;
}

#u764
{
	z-index: 130;
	width: 28px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 395px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

