.ts04-Body-Sans-Light
{
	font-family: quicksand-n4, sans-serif;
}

#u591-4
{
	font-family: quicksand-n3, sans-serif;
}

#u602-4
{
	font-family: quicksand-n3, sans-serif;
}

#u564-4
{
	font-family: quicksand-n3, sans-serif;
}

#u572-4
{
	font-family: quicksand-n3, sans-serif;
}

#u581-4
{
	font-family: quicksand-n3, sans-serif;
}

#u586-4
{
	font-family: quicksand-n3, sans-serif;
}

#u464-4,#u471-4,#u472-4,#u473-4,#u474-4
{
	font-family: quicksand-n3, sans-serif;
}

#u605-4,#u614-4,#u642-4,#u647-4,#u652-4
{
	font-family: arvo-n4, serif;
}

#u606-7,#u613-4,#u615-7,#u623-4,#u629-2,#u629-3,#u632-2,#u632-3,#u636-2,#u636-3,#u635-2,#u635-3,#u643-7,#u650-2,#u650-3,#u649-2,#u649-3,#u651-2,#u651-3,#u653-7
{
	font-family: open-sans-n3, sans-serif;
}

